<div class="container">
    <ul>
        {{#each albumsArr}}
        <li>
            {{#with this.images.[1]}}
                <img src="{{url}}" alt="">
            {{/with}}
            {{this.name}}
        </li>
        {{/each}}
    </ul>
</div>