{{!-- display name, image, and button (or link) --}}

<div>
{{artistArr.name}}
</div>
{{!-- 
<div>
{{#each artistArr}}
    {{this.name}}
    {{#each this.images.url}}
        <img src="{{this}}" alt="">
    {{/each}}
    <a href="{{this.href}}" class="button">Show Albums</a>
{{/each}}
</div> --}}