<div>
  <form action="/artist-search" method="get">
    <input type="text" name="artistname" placeholder="Artist Name">
    <button type="submit">Submit</button>
  </form>
</div>

{{!-- // HENDRIK'S EXAMPLE DURING CLASS:

<a href="/users/hendrik">Hendrik</a>
<a href="/users/mir">Mir</a>
<a href="/users/camille">Camille</a>
<div>
  <form action="/users/hendrik/books/567" method="get">
    <input type="text" name="author" placeholder="Author">
    <input type="text" name="year" placeholder="Year">
    <button type="submit">Submit</button>
  </form>
</div> --}}